h1{
    text-align: center;
    background-color: aqua;
}

.classBox{
    background-color: red;
    padding: 20px;
    width: 50%;
    height: 50%;
    color: white;
    cursor: pointer;
}

.clock{
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(113, 113, 120);
}